<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
<h2>Créer un compte</h2>    
<form [formGroup]="signupForm" (ngSubmit)="onCreate()">
    <div class="form-group">
        <label for="nom">Nom : </label>
        <div class="col-sm-4">

        <input type="text" id="nom" class="form-control" formControlName="nom">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="prenom">Prénom :</label>
        <div class="col-sm-4">
            <input type="text" id="prenom" class="form-control" formControlName="prenom" >
        </div>
    </div>
    <br>

    <div class="form-group">
        <label for="dateNaiss">Date de naissance :</label>
        <div class="col-sm-4">
        <input type="date" id="dateNaiss"  class="form-control" formControlName="dateNaiss">
    </div>
</div>
<br>
<div class="form-group">
    <label for="sexe">Sexe :</label>
    <br>
    <div class="form-check-inline">
        <label class="form-check-label" for="radio1" >
    <input type="radio" id="radio1" class="form-control"  
    class="form-check-input" formControlName="sexe" 
    name="optradio" value="femme" >
    Femme
</label>
</div>
<div class="form-check-inline">
    <label class="form-check-label" for="radio2">
        <input type="radio" id="radio2" 
        class="form-control" class="form-check-input" 
        name="optradio" value="homme" >
        Homme
    </label>
</div>
</div>
<br>

<div class="form-group">
<div class="dropdown">
    <label for="niveau">Votre niveau d'étude :</label>

    <div class="col-sm-4">
    <select class="selectpicker" class="form-control" id="niveau" name="niveau" formControlName="niveau">
        <option>Bac</option>
        <option>Licence</option>
        <option>Master</option>
        <option>Cycle d'ingénieur</option>
    </select>
    </div>
</div>
</div>
<br>
    <div class="form-group">
        <label for="speacialite">Spécialité :</label>
        <div class="col-sm-4">
            <input type="text" id="speacialite" class="form-control" formControlName="speacialite">
        </div> 
    </div>
    <br>
    <div class="form-group">
        <label for="email">Adresse mail :</label>
        <div class="col-sm-4">
            <input type="text" id="email" class="form-control" formControlName="email">
        </div> 
    </div>
    <br>
    <div class="form-group">
        <label for="password">Mot de Passe :</label>
        <div class="col-sm-4">
            <input type="password" id="password" class="form-control" formControlName="password">
        </div>
    </div>
    <br>
    <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">Créer compte</button>
</form>
<br>
<p class="text-danger"> {{errorMessage}}</p>
</div>
</div>

