<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
<div class="row">
        <div style="padding-top: 60px; padding-left:900px;" class="col-sm-8 col-sm-offset-2">

        <h2 class="display-5" style="padding-left:170px ; font-family: 'Roboto', sans-serif; color: #134e6f;">Connexion</h2>
        <br>
        <form class="row row-cols-1" [formGroup]="signinForm" (ngSubmit)="onConnexion()">
            <fieldset class="border p-5">

        <div class="form-group">
                <label style="font-size:25px;" for="email">Adresse email :</label>
                <div class="col-sm-4">
                <input type="text" id="email" 
                class="form-control" formControlName="email">
            </div>
            </div>
            <div class="form-group">

                <label style="font-size:25px;" for="password">Mot de passe :</label> 
                <div class="col-sm-4">

                <input type="password" id="password" class="form-control"
                formControlName="password">
                </div>
            </div>
            <p class="text-body">Si vous n'avez pas un compte, <a href="auth/signup"> inscrivez vous.</a></p>

        <button class="btn btn-primary"
        [disabled]="signinForm.invalid">Se connecter</button>
            </fieldset>
    </form>
<br>
<p class="text-danger">{{errorMessage}}</p>
        </div>
</div>